body
	{
		background: #f8f8f8;
		font-family: 'Poiret One', cursive;
		font-size: 16px;
		font-weight: 500;
		position: relative;
		width: 100%;
		height: 100%;
	}

html,body
    {
        width: 100%;
        overflow-x: hidden;
    }

/* start hr */
hr
    {
        border: 2px solid #B30000;
        max-width: 600px;
		width:100%;
        margin-top: 20px;
        margin-bottom: 80px;
    }
/* end hr */

/* start h2 */
h2
    {
        font-size: 60px;
        text-align: center;
    }

/* end h2 */
/* Margin */
.no-margin {
margin:0 !important;
}
.bk-margin-5 {
margin: 5px !important;
}
.bk-margin-10 {
margin: 10px !important;
}
.bk-margin-15 {
margin: 15px !important;
}
.bk-margin-left-5 {
margin-left: 5px !important;
}
.bk-margin-right-5 {
margin-right: 5px !important;
}
.bk-margin-bottom-5 {
margin-bottom: 5px !important;
}
.bk-margin-top-5 {
margin-top: 5px !important;
}
.bk-margin-left-10 {
margin-left: 10px !important;
}
.bk-margin-right-10 {
margin-right: 10px !important;
}
.bk-margin-bottom-10 {
margin-bottom: 10px !important;
}
.bk-margin-top-10 {
margin-top: 10px !important;
}
.bk-margin-left-15 {
margin-left: 15px !important;
}
.bk-margin-right-15 {
margin-right: 15px !important;
}
.bk-margin-bottom-15 {
margin-bottom: 15px !important;
}
.bk-margin-top-15 {
margin-top: 15px !important;
}
.bk-margin-left-20 {
margin-left: 20px !important;
}
.bk-margin-right-20 {
margin-right: 20px !important;
}
.bk-margin-bottom-20 {
margin-bottom: 20px !important;
}
.bk-margin-top-20 {
margin-top: 20px !important;
}
.bk-margin-left-30 {
margin-left: 30px !important;
}
.bk-margin-right-30 {
margin-right: 30px !important;
}
.bk-margin-bottom-30 {
margin-bottom: 30px !important;
}
.bk-margin-top-30 {
margin-top: 30px !important;
}
.bk-margin-left-40 {
margin-left: 40px !important;
}
.bk-margin-right-40 {
margin-right: 40px !important;
}
.bk-margin-bottom-40 {
margin-bottom: 40px !important;
}
.bk-margin-top-40 {
margin-top: 40px !important;
}
.bk-margin-off {
margin: 0 !important;
}
.bk-margin-off-top {
margin-top: 0 !important;
}
.bk-margin-off-bottom {
margin-bottom: 0 !important;
}
.bk-margin-off-left {
margin-left: 0 !important;
}
.bk-margin-off-right {
margin-right: 0 !important;
}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
/* Padding */
.no-padding {
padding:0 !important;
}
.bk-padding-5 {
padding: 5px !important;
}
.bk-padding-10 {
padding: 10px !important;
}
.bk-padding-15 {
padding: 15px !important;
}
.bk-padding-20 {
padding: 20px !important;
}
.bk-padding-30 {
padding: 30px !important;
}
.bk-padding-40 {
padding: 40px !important;
}
.bk-padding-left-5 {
padding-left: 5px !important;
}
.bk-padding-right-5 {
padding-right: 5px !important;
}
.bk-padding-bottom-5 {
padding-bottom: 5px !important;
}
.bk-padding-top-5 {
padding-top: 5px !important;
}
.bk-padding-top-10 {
padding-top: 10px !important;
}
.bk-padding-left-10 {
padding-left: 10px !important;
}
.bk-padding-right-10 {
padding-right: 10px !important;
}
.bk-padding-bottom-10 {
padding-bottom: 10px !important;
}
.bk-padding-top-15 {
padding-top: 15px !important;
}
.bk-padding-left-15 {
padding-left: 15px !important;
}
.bk-padding-right-15 {
padding-right: 15px !important;
}
.bk-padding-bottom-15 {
padding-bottom: 15px !important;
}
.bk-padding-top-20 {
padding-top: 20px !important;
}
.bk-padding-left-20 {
padding-left: 20px !important;
}
.bk-padding-right-20 {
padding-right: 20px !important;
}
.bk-padding-bottom-20 {
padding-bottom: 20px !important;
}
.bk-padding-top-30 {
padding-top: 30px !important;
}
.bk-padding-left-30 {
padding-left: 30px !important;
}
.bk-padding-right-30 {
padding-right: 30px !important;
}
.bk-padding-bottom-30 {
padding-bottom: 30px !important;
}
.bk-padding-top-40 {
padding-top: 40px !important;
}
.bk-padding-left-40 {
padding-left: 40px !important;
}
.bk-padding-right-40 {
padding-right: 40px !important;
}
.bk-padding-bottom-40 {
padding-bottom: 40px !important;
}
.bk-padding-top-50 {
padding-top: 50px !important;
}
.bk-padding-left-50 {
padding-left: 50px !important;
}
.bk-padding-right-50 {
padding-right: 50px !important;
}
.bk-padding-bottom-50 {
padding-bottom: 50px !important;
}
.bk-padding-top-60 {
padding-top: 60px !important;
}
.bk-padding-left-60 {
padding-left: 60px !important;
}
.bk-padding-right-60 {
padding-right: 60px !important;
}
.bk-padding-bottom-60 {
padding-bottom: 60px !important;
}
.bk-padding-top-70 {
padding-top: 70px !important;
}
.bk-padding-left-70 {
padding-left: 70px !important;
}
.bk-padding-right-70 {
padding-right: 70px !important;
}
.bk-padding-bottom-70 {
padding-bottom: 70px !important;
}
.bk-padding-off {
padding: 0 !important;
}
.bk-padding-off-left {
padding-left: 0 !important;
}
.bk-padding-off-right {
padding-right: 0 !important;
}
.bk-padding-off-bottom {
padding-bottom: 0 !important;
}
.bk-padding-off-top {
padding-top: 0 !important;
}
/* start progress bar */
.progress{
	height:20px;
	margin-bottom:20px;
	overflow:hidden;
	background-color:#FFF;
	border-radius:1px
}

.animation-sm{
	height:5px
}

.animation-md{
	height:12px
}

.animation-lg{
	height:20px
}

.progress-bar-success{
	background-color:#65B245
}

.progress-bar-info{
	background-color:#60C2E8
}

.progress-bar-warning{
	background-color:#FBC70E
}

.progress-bar-danger{
	background-color:#E02626
}

.progress-bar-invert{
	background-color:#212122
}
.progress .progress-bar.six-sec-ease-in-out{
	-webkit-transition:width 6s ease-in-out;
	-moz-transition:width 6s ease-in-out;
	-ms-transition:width 6s ease-in-out;
	-o-transition:width 6s ease-in-out;
	transition:width 6s ease-in-out
}
/* end progress bar */

/* start navigation */
.custom-navbar 
    {
        margin-bottom: 0;
        background-color: #fff;
    }
.custom-navbar .navbar-brand 
    {
        color: #B30000;
        font-weight: bold;
        font-size: 20px;
    }
.custom-navbar .navbar-brand .navbar-toggle 
    {
        background: #B30000;
         padding: 4px 6px;
         font-size: 16px;
         color: #fff;
    }
.custom-navbar .nav li a
     {
         color: #999;
         font-weight: 300;
         font-size: 13px;
    }
.custom-navbar .nav li a:hover
    {
        background: transparent;
        color: #B30000;
    }
.custom-navbar .nav li.active > a
    {
         background-color: transparent;
         color: #B30000;
		 border:4px solid #B30000;
    }
.custom-navbar .navbar-toggle
    {
        border: none;
        padding-top: 10px;
    }
.custom-navbar .navbar-toggle .icon-bar
    {
        background: #B30000;
        border-color: transparent;
    }
@media(min-width:768px){
    .custom-navbar
         {
             padding: 20px 0;
            border-bottom: 0;
             background: 0 0;
         }
    .custom-navbar.top-nav-collapse
         {
            padding: 0;
            box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
            background: #fff;
        }
}
/* end navigation */
/* start home */
.color-overlay 
    {
	   width: 100%;
	   height: 100%;
	   min-height: 700px;
	   background: rgba(0, 0, 0, 0.6);
    }         
#home
	{
    background: url('../images/home-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
	}
#home .home-des
    {
        padding-top: 150px;
        padding-bottom: 180px;
    }
#home h1
	{
		font-size: 80px;
        font-weight: bold;
        line-height: 60px;
        letter-spacing: 2px;
	}
#home i {
		display:block;
		margin: 30px 0;
		font-size:100px;
}
#home .btn
    {
        color: #fff;
        font-size: 12px;
        margin-right: 14px;
        transition: all 0.4s ease-in-out;
		border-radius:0;
    }
#home .btn:hover
    {
        background: #B30000;
        border-color: transparent;
    }
#home .btn-default
    {
        background: transparent;
    }
#home .btn-primary
    {
        background: #B30000;
        border: 2px solid transparent;
    }
/* end home */
/* start about */
#about
    {
		
        padding-top: 80px;
    }
#about .about-des
    {
        padding-top: 60px;
    }
#about .about-des h1
    {
        font-size: 60px;
    }
#about .about-des h4
    {
        font-weight: bold;
        font-size: 12px;
        padding-top: 10px;
        padding-bottom: 20px;
    }
#about .about-des span
    {
        letter-spacing: 2px;
        padding-right: 8px;
		padding-bottom:5px;
		border-bottom: 4px solid #333;
    }
/* end about */

/* start portfolio */
#portfolio
    {
        background: #fff;
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
        padding-top: 80px;
        padding-bottom: 80px;
    }
#portfolio .container
    {
        width: 100%;
        padding: 0;
        margin: 0;
    }
#portfolio .col-md-4
    {
        padding: 0;
        margin: 0;
    }
#portfolio .portfolio-thumb
    {
        overflow: hidden;
        margin: 0;
        position: relative;
    }
#portfolio .portfolio-thumb .portfolio-overlay
    {
        background: #333;
        color: #ffffff;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding: 80px 60px 0px 60px;
        text-align: center;
        position: absolute;
        opacity: 0;
        transition: all 0.4s ease-in-out;
    }
#portfolio .portfolio-thumb:hover .portfolio-overlay
    {
        opacity: 0.9;
        transform: scale(1.1);
    }
#portfolio .portfolio-thumb .portfolio-overlay .fa
    {
        border: 1px solid #ffffff;
        border-radius: 50%;
        color: #ffffff;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        text-decoration: none;
        margin-right: 6px;
        margin-bottom: 10px;
    }
/*filter css*/
.filter-wrapper {
    width: 100%;
    margin: 0 0 24px 0;
    overflow: hidden;
    text-align: center;
}
.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}
.filter-wrapper li a {
    border: 4px solid #ddd;
    border-radius: 0;
    color: #aaa;
    padding: 8px 17px;
    display: block;
    text-decoration: none;
}
/*isotope box css*/
.iso-box-section {
    width: 100%;
    margin: 0 0 24px 0;
}
.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}
.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 0;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.fluid-img {
    width: 100%;
    display: block;
    height: auto;
}
/* end portfolio */
/* start service */
#service
    {
        padding-top: 80px;
        padding-bottom: 80px;
    }
#service .media
    {
        padding-bottom: 70px;
    }
#service .media .fa
    {
        background: transparent;
        border-radius: 50%;
		border:4px solid #333;
        color: #333;
        font-size: 30px;
        width: 80px;
        height: 80px;
        line-height: 75px;
        text-align: center;
        margin-right: 10px;
    }
#service .media .media-heading
    {
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 10px;
    }
/* end service */
/* start activity */
#activity {    
	background: #333 url(../images/post-bg.jpg) repeat-y center center fixed;
	background-size: 100% 100%;
    min-height: 500px;
    margin-top: 0;
	padding-top: 80px;
	padding-bottom: 80px;
    position: relative;
    overflow: hidden;
}
#activity .section_overlay {
    background: #e75e43;
    opacity: 0.85;
    width: 100%;
    position: absolute;
    z-index: 100;
    left: 0px;
    top: 0px;
}
#activity .container {
    position: relative;
    z-index: 200;
}
#activity h2 {
    color: #333;
}
#activity .post {
    height: 312px;
    background: #fff;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    -o-box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    -ms-box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    border-radius: 3px;
    font-family: 'Poiret One', cursive;
    padding: 10px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
}
#activity .post img {
    width: 100%;
    height: 150px;
    border-radius: 3px;
}
#activity .post a.link {
    background: rgba(0,0,0,0);
    color: rgba(255,127,102,0);
    height: 150px;
    margin-top: -150px;
    display: block;
    position: relative;
    z-index: 200;
    border-radius: 3px;
    text-align: center;
    line-height: 300px;
    font-size: 35px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
#activity .post:hover a.link {
    line-height: 140px;
    color: #fff !important;
    background: rgba(0,0,0,0.6);
    color: rgba(255,127,102,1);
}
#activity .post h3 {
    border-bottom: 1px solid #ddd;
    font-family: 'Poiret One', cursive;
    font-size: 18px;
    line-height: 23px;
    color: #333;
    text-transform: capitalize;
    padding: 5px 0px 8px 0px;
}
#activity .post aside.text {
    font-family: 'Poiret One', cursive;
    color: #888;
    margin-top: 5px;
}
#activity .post h3 a {
    color: #444;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}
#activity .post h3 a:hover {
    color: #f36b51;
}
#activity .post p {
    background: #eee;
    border-top: 1px solid #ddd;
    width: 100%;
    height: 36px;
    position: absolute;
    bottom: -10px;
    left: 0px;
    padding: 10px;
    line-height: 18px;
    color: #777;
}
#activity  a.viewAll {
    border: 2px solid #B30000;
    border-radius: 3px;
    margin: 30px auto 60px auto;
    padding: 5px 0px;
    font-weight: normal;
    font-family: 'Poiret One', cursive;
    font-size: 25px;
    color: #B30000;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}
#activity  a.viewAll:hover {
    background: #B30000;
    border: 2px solid #B30000;
    color: #fff;
}
/* end activity */
/* start contact */
#contact
    {
        background: #fff;
        color: #333;
        padding-top: 80px;
        padding-bottom: 80px;
    }
#contact .form-control
    {
        background: transparent;
        color: #ffffff;
        margin-bottom: 20px;
        transition: all 0.4s ease-in-out;
		border-radius:0;
    }
#contact .form-control:focus,
#contact .form-control:hover
    {
        background: #eee;
        border-color: transparent;
    }
#contact input
    {
        height: 50px;
    }
#contact input[type="submit"]
    {
        background: #B30000;
        border-color: transparent;
        color: #ffffff;
        font-weight: bold;
    }
.left-inner-addon
    {
        position: relative;
    }
.left-inner-addon input,
.left-inner-addon textarea
    {
        padding-left: 30px;
    }
.left-inner-addon span
    {
        color: #ffffff;
        position: absolute;
        padding:  18px 12px;
        pointer-events: none;
    }
/* end contact */

/* start copyright */
#copyright
    {
        padding-top: 20px;
        padding-bottom: 10px;
        font-weight: 400;
        text-align: center;
    }
#copyright span
    {
        color: #B30000;
        font-weight: bold;
    }
/* end copyright */

/* start social icon */
.social-icon
    {
        position: relative;
        padding: 0;
        margin: 0;
        top: 20px;
    }
.social-icon li
    {
        display: inline-block;
        list-style: none;
    }
.social-icon li a
    {
        background: #666;
        color: #fff;
        text-decoration: none;
        transition: all 0.4s ease-in-out;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
    }
.social-icon li a:hover
    {
        background: #B30000;
    }
/* end social icon */

/* start media 980 */
@media screen and ( max-width: 980px ){
    h2
        {
            font-size: 50px;
        }
    #portfolio .portfolio-thumb .portfolio-overlay
        {
            padding-top: 80px;
        }
    #about .about-des h1
        {
            font-size: 50px;
        }
    #about .about-des
        {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    
}
/* end media 980 */

/* start media 800 */
@media screen and ( max-width: 800px ){
    h2,#about .about-des h1
        {
            font-size: 40px;
        }
    #about .about-des
        {
            padding-top: 10px;
            padding-bottom: 20px;
        }
}
/* end media 800 */


/* start media 360 */
@media screen and ( max-width: 360px ){
    #home h1
        {
            font-size: 30px;
            line-height: 15px;
        }
    #portfolio .portfolio-thumb .portfolio-overlay
        {
            padding-top: 60px;
        }
}
/* end media 360 */