/*-------------------------------------------------------*/
/* Table of Content

1. General
2. Typography
3. Navigation
4. Layout
5. Blog
6. Portfolio
7. Shortcodes
8. Footer
/*-------------------------------------------------------*/


/*-------------------------------------------------------*/
/* General
/*-------------------------------------------------------*/

.clearfix {
	*zoom: 1;

	&:before, &:after {
		display: table;
		line-height: 0;
		content: "";
	}

	&:after {
		clear: both;
	}
}

.clear { clear: both; }
.oh { overflow: hidden; }
.relative {	position: relative; }

.section-wrap {
	padding: 100px 0;
	overflow: hidden;
	background-attachment: fixed;
	@include background-img-cover;
}

.section-wrap-lg {
  padding: 120px 0;
  @include background-img-cover;
  background-attachment: fixed;
}

.section-wrap-xlg {
  padding: 150px 0;
  @include background-img-cover;
  background-attachment: fixed;
}


.mobile section {	background-attachment: scroll !important; }

.bg-dark { background-color: $bg-dark; }
.bg-light { background-color: $bg-light; }
.bg-color { background-color: $main-color; }
.white { color: #fff; }
.static {	position: static; }
.left { float: left; }
.right { float: right; }
.valign { position: absolute; top: 50%; @include transform (translateY(-50%)); }
.halign { position: absolute; left: 50%; @include transform (translateX(-50%)); }
.container-fluid.semi-fluid { padding: 0 50px; }
.img-fw { width: 100%; }
.uppercase { text-transform: uppercase;	letter-spacing: 0.08em; }
.last {	margin-bottom: 0 !important; }
@media (max-width: 991px) { .md-text-center {text-align: center}; }
@media (max-width: 767px) { .sm-text-center {text-align: center}; }
@media (max-width: 480px) { .xs-text-center {text-align: center}; }
img.alignleft {float: left;margin: 10px 20px 10px 0;}
img.alignright { float: right; margin: 10px 0 10px 20px; }


::-moz-selection {
	color: #fff;
	background-color: $main-color;
}

::-webkit-selection {
	color: #fff;
	background-color: $main-color;
}

::selection {
	color: #fff;
	background-color: $main-color;
}

a {
	text-decoration: none;
	color: $main-color;
	outline: none;
	@include transition (color .1s ease-in-out);

	&:hover {
		text-decoration: none;
		color: $bg-dark;
		outline: none;
	}

  &:focus {
    color: $main-color;
    text-decoration: none;
    outline: none;
  }
}

:focus {
	outline: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: $body-font;
	font-size: 15px;
	line-height: 1.5;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	background: #fff;
	outline: 0;
	overflow-x: hidden;
	overflow-y: auto;
	color: $text-color;

	img {
		border: none;
		max-width: 100%;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
	}
}

video {
	height: 100%;
	width: 100%;
}

/*-------------------------------------------------------*/
/* Preloader
/*-------------------------------------------------------*/

.loader-mask {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#fff; 
  z-index:99999;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 26px;
  height: 52px;
  background: #fff;
  border-radius: 52px 0 0 52px;
  top: -1px;
  left: -1px;
  -webkit-transform-origin: 26px 26px;
  transform-origin: 26px 26px;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader {
  color: $main-color;
  font-size: 5px;
  text-indent: -99999em;
  margin: -25px 0 0 -25px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 49px;
  height: 49px;
  box-shadow: inset 0 0 0 3px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:after {
  width: 26px;
  height: 52px;
  background: #fff;
  border-radius: 0 52px 52px 0;
  top: -1px;
  left: 25px;
  -webkit-transform-origin: 0px 26px;
  transform-origin: 0px 26px;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}

@-webkit-keyframes load2 { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }}
@keyframes load2 { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }}



/* Scroll Down icon
-------------------------------------------------------*/

.scroll-down {
  font-size: 24px;
  display: block;
  width: 65px;
  height: 65px;
  background-color: rgba(255,255,255,.2);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  line-height: 65px;
  z-index: 50 !important;

  & a {
  	line-height: 65px;
  	position: relative;
  	z-index: 50 !important;
  }

  & i {
  	color: #fff;
  	-webkit-animation: scroll-down-icon 1s infinite;
  	-moz-animation: scroll-down-icon 1s infinite;
  	-o-animation: scroll-down-icon 1s infinite;
  	animation: scroll-down-icon 1s infinite;
  	left: 20px;
    position: absolute;
  }
}

@-webkit-keyframes scroll-down-icon {
  0%{ bottom: 12px; }
  50%{ bottom: 19px; }
  100%{ bottom: 12px; }
}
@-moz-keyframes scroll-down-icon {
  0%{ bottom: 12px; }
  50%{ bottom: 19px; }
  100%{ bottom: 12px; }
}
@-o-keyframes scroll-down-icon {
  0%{ bottom: 12px; }
  50%{ bottom: 19px; }
  100%{ bottom: 12px; }
}
@keyframes scroll-down-icon {
  0%{ bottom: 12px; }
  50%{ bottom: 19px; }
  100%{ bottom: 12px; }
}

.row.row-10 {
  margin: 0 -5px;
}

.row.row-10 > div {
  padding: 0 5px;
}

.row.row-16 {
  margin: 0 -8px;
}

.row.row-16 > div {
  padding: 0 8px;
}

.row.row-20 {
  margin: 0 -10px;
}

.row.row-20 > div {
  padding: 0 10px;
}

.dark-gradient:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  background: rgba(255,255,255,0);
  background: -webkit-linear-gradient(rgba(255,255,255,0) 0%, rgba(0,0,0,.75) 100%);
  background: -o-linear-gradient(rgba(255,255,255,0) 0%, rgba(0,0,0,.75) 100%);
  background: linear-gradient(rgba(255,255,255,0) 0%, rgba(0,0,0,.75) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
}

hr {
  border-top: 1px solid $border-color;
}

.hover-scale img {
  @include transition (all .5s ease-in-out !important);
}

.hover-scale:hover img {
  @include transform (scale(1.2,1.2)!important);
}


/*-------------------------------------------------------*/
/* 5 columns
/*-------------------------------------------------------*/

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 767px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}


/*-------------------------------------------------------*/
/* Items grid
/*-------------------------------------------------------*/

// clear the first in row for any block that has the class "items-grid"
.items-grid .col-xs-6:nth-child(2n + 3) { clear: left; }
.items-grid .col-xs-4:nth-child(3n + 4) { clear: left; }
.items-grid .col-xs-3:nth-child(4n + 5) { clear: left; }
.items-grid .col-xs-2:nth-child(6n + 7) { clear: left; }
.items-grid .col-xs-1:nth-child(12n + 13) { clear: left; }
@media (min-width: 768px) {
  // reset previous grid
  .items-grid .col-xs-6:nth-child(2n + 3) { clear: none; }
  .items-grid .col-xs-4:nth-child(3n + 4) { clear: none; }
  .items-grid .col-xs-3:nth-child(4n + 5) { clear: none; }
  .items-grid .col-xs-2:nth-child(6n + 7) { clear: none; }
  .items-grid .col-xs-1:nth-child(12n + 13) { clear: none; }

  // clear first in row for small columns
  .items-grid .col-sm-6:nth-child(2n + 3) { clear: left; }
  .items-grid .col-sm-4:nth-child(3n + 4) { clear: left; }
  .items-grid .col-sm-3:nth-child(4n + 5) { clear: left; }
  .items-grid .col-sm-2:nth-child(6n + 7) { clear: left; }
  .items-grid .col-sm-1:nth-child(12n + 13) { clear: left; }
}
@media (min-width: 992px) {
  // reset previous grid
  .items-grid .col-sm-6:nth-child(2n + 3) { clear: none; }
  .items-grid .col-sm-4:nth-child(3n + 4) { clear: none; }
  .items-grid .col-sm-3:nth-child(4n + 5) { clear: none; }
  .items-grid .col-sm-2:nth-child(6n + 7) { clear: none; }
  .items-grid .col-sm-1:nth-child(12n + 13) { clear: none; }

  // clear first in row for medium columns
  .items-grid .col-md-6:nth-child(2n + 3) { clear: left; }
  .items-grid .col-md-4:nth-child(3n + 4) { clear: left; }
  .items-grid .col-md-3:nth-child(4n + 5) { clear: left; }
  .items-grid .col-md-2:nth-child(6n + 7) { clear: left; }
  .items-grid .col-md-1:nth-child(12n + 13) { clear: left; }
}
@media (min-width: 1200px) {
  // reset previous grid
  .items-grid .col-md-6:nth-child(2n + 3) { clear: none; }
  .items-grid .col-md-4:nth-child(3n + 4) { clear: none; }
  .items-grid .col-md-3:nth-child(4n + 5) { clear: none; }
  .items-grid .col-md-2:nth-child(6n + 7) { clear: none; }
  .items-grid .col-md-1:nth-child(12n + 13) { clear: none; }

  // clear first in row for large columns
  .items-grid .col-lg-6:nth-child(2n + 3) { clear: left; }
  .items-grid .col-lg-4:nth-child(3n + 4) { clear: left; }
  .items-grid .col-lg-3:nth-child(4n + 5) { clear: left; }
  .items-grid .col-lg-2:nth-child(6n + 7) { clear: left; }
  .items-grid .col-lg-1:nth-child(12n + 13) { clear: left; }
}
