// Colors
$text-color: #979797;
$date-color: #979797;
$heading-color: #555555;
$bg-light: #f6f6f6;
$bg-dark: #191919;
$border-color: #e6e6e6;
$main-color: #a88d5d;


// Fonts
$body-font: 'Raleway', sans-serif;
$heading-font: 'Arvo', sans-serif;
$alt-font: 'Lora', serif;